<div class="container">
  <h2>CD's</h2>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bankname</th>
        <th>Remaining Term Net Gain</th>
      </tr>
    </thead>
    <tbody>
      <% @cdss.reverse.each do |cd| %>
        
         <tr>
          <td><%= link_to cd[:cd].bankname, cd[:cd] %> </td>
          <td>$<%= number_with_precision(cd[:net_gain] , :precision => 2, :delimiter => ',') %></td>
          <td></td>
         </tr>
       <% end %>


      
  </tbody>
  </table>
</div> 