<div class="container">
  <h2>CD's</h2>

  
  <%= form_tag cds_path, :method => 'get', :id => "cds_search", remote: true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

  <div id="cds"><%= render 'cds' %></div>
  
  <% end %>
  
</div> 